@use './variables.scss' as *;


// ---Mixin to make button---
@mixin buttonGreen($marginT: 10px){
    text-decoration: none;
    color: $textBlack;
    background-color: $bgWhite;
    padding: 12px 24px;
    border-radius: 30px;
    transition: all 0.3s;
    margin-top: $marginT;
    &:hover{
        color: $textColor;
        background-color: $bgGreen;
    }
}

@mixin buttonOnlyGreen($marginT: 10px){
    text-decoration: none;
    color: $textColor;
    background-color: $bgGreen;
    padding: 12px 24px;
    border-radius: 30px;
    transition: all 0.3s;
    margin-top: $marginT;
}

@mixin buttonGreenDark($marginT: 10px){
    text-decoration: none;
    color: $textColor;
    background-color: $bgGreen;
    padding: 12px 24px;
    border-radius: 30px;
    transition: all 0.3s;
    margin-top: $marginT;
        &:hover{
            color: $textColor;
            background-color: $bgDarkGreen;
        }
}