
// ---Text Colors---
$textColor: #FFFFFF;
$textAlmond: #F9F5F2;
$textGrey: #F2F3F2;
$textBlack: #000000;
$textGreen: #3D6F42;
$textDarkGreen: #1E3120;

// ---Backgroun Colors---
$bgWhite: #FFFFFF;
$bgAlmond: #F9F5F2;
$bgGrey: #F2F3F2;
$bgBlack: #000000;
$bgGreen: #3D6F42;
$bgDarkGreen: #1E3120;